@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

#info-box {
  color: white;
  padding: 0;
  /*background-color: white;*/
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 0 0;
}
#info-box h1 {
  margin: 0;
  font-size: 4em;
  text-shadow: rgb(0, 0, 0) 0px 0px 20px,
               rgb(0, 0, 0) 10px 10px 40px;
}
#info-box p {
  margin: 4px 0;
  font-size: 1.4em;
  text-shadow: rgb(0, 0, 0) 0px 0px 6px,
               rgb(0, 0, 0) 4px 4px 12px;*/
}
